@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgb(69, 0, 106);
}

.box {
    width: 400px;
    height: 180px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    background-color: rgb(243, 235, 235);
    padding: 1rem;
    border-radius: 5px;
    transition: all .4s linear;
    padding-bottom: 11rem;
    overflow-y: hidden;
}
.active{
    height: 500px;
}

.box header {
    text-align: left;
    /* display: flex;
    justify-content: flex-start;
    flex-direction: column; */
}

.box header p {
    color: rgba(43, 43, 43, 0.735);
}

.box .form {
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
}

.form input,
button {
    outline: none;
    padding: 5px 10px;
    border-radius: 2px;
    border: 2px solid rgb(188, 188, 189);
    margin-bottom: 10px;
    background-color: rgb(243, 235, 235);
}

.form button {
    border: none;
    padding: 10px 0;
    color: aliceblue;
    background-color: rgb(97, 109, 154);
    /* pointer-events: none; */
}

.form button:hover {
    background-color: rgb(83, 104, 181);
}

.qr-code {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 2px solid rgb(188, 188, 189);
    border-radius: 5px;
}

.qr{
    margin: 1rem 0;
}